<a href="https://github.com/scottphilip/ngx-expressions"><h1>ngx-expressions</h1></a>
<h2>Demo</h2>
<div class="wrapper">

    <h3>Boolean Expression</h3>
    <div class="field">
        <mat-form-field appearance="outline">
            <mat-label>Boolean Expression</mat-label>
            <expr-input
                #exprBoolean
                [(ngModel)]="codeExpression"
                parameters="myWorld: MyWorld"
                mode="expression"
                returnType="boolean"
            ></expr-input>
            <mat-hint>Available parameters: {{ exprBoolean.parameters }}</mat-hint>
            <mat-error>{{ exprBoolean.validationErrors.join('  ') }}</mat-error>
        </mat-form-field>
    </div>

    <h3>Optional String Expression</h3>
    <div class="field">
        <mat-form-field>
            <mat-label>Empty Expression</mat-label>
            <expr-input
                #exprBlank
                value=""
                parameters="myWorld: MyWorld"
                mode="expression"
                returnType="string"
            ></expr-input>
            <mat-hint>Available parameters: {{ exprBlank.parameters }}</mat-hint>
            <mat-error>{{ exprBlank.validationErrors?.join('  ') }}</mat-error>
        </mat-form-field>
    </div>

    <h3>Interpolated/Template String</h3>
    <div class="field">
        <mat-form-field color="accent">
            <mat-label>String Interpolation</mat-label>
            <expr-input
                [(ngModel)]="codeInterpolation"
                #exprInput
                parameters="myWorld: MyWorld"
                mode="interpolation"
                returnType="string"
                color="accent"
            ></expr-input>
            <mat-hint>Available parameters: {{ exprInput.parameters }}</mat-hint>
            <mat-error>{{ exprInput.validationErrors.join('  ') }}</mat-error>
        </mat-form-field>
    </div>

    <h3>Interpolated Textarea</h3>
    <div class="field">
        <mat-form-field color="accent">
            <mat-label>Textarea</mat-label>
            <expr-input
                [(ngModel)]="codeInterpolationArea"
                #exprArea
                parameters="myWorld: MyWorld"
                color="primary"
                [autosize]="true"
            ></expr-input>
            <mat-hint>Available parameters: {{ exprArea.parameters }}</mat-hint>
            <mat-error>{{ exprArea.validationErrors.join('  ') }}</mat-error>
        </mat-form-field>
    </div>

    <h3>Syntax Errors</h3>
    <div class="field">
        <mat-form-field appearance="fill">
            <mat-label>Syntax Errors (Expects a number)</mat-label>
            <expr-input
                #exprWithErrors
                [(ngModel)]="codeErrors"
                parameters="myWorld: MyWorld"
                mode="expression"
                returnType="number"
            ></expr-input>
            <mat-hint>Available parameters: {{ exprWithErrors.parameters }}</mat-hint>
            <mat-error>{{ exprWithErrors.validationErrors.join('  ') }}</mat-error>
        </mat-form-field>
    </div>

    <h3>Required Number Expression</h3>
    <div class="field">
        <mat-form-field appearance="outline">
            <mat-label>Number Expression</mat-label>
            <expr-input
                #exprRequiredNumber
                [(ngModel)]="codeRequiredNumber"
                parameters="myWorld: MyWorld"
                mode="expression"
                [required]="true"
                returnType="number"
            ></expr-input>
            <mat-hint>Available parameters: {{ exprRequiredNumber.parameters }}</mat-hint>
            <mat-error>{{ exprRequiredNumber.validationErrors.join('  ') }}</mat-error>
        </mat-form-field>
    </div>

    <h3>Autosize Extended Expression</h3>
    <div class="field">
        <mat-form-field>
            <mat-label>Expression</mat-label>
            <expr-input
                [(ngModel)]="codeAutosize"
                #exprAutosize
                mode="extended"
                returnType="string"
                [autosize]="true"
                parameters="myWorld: MyWorld"
                color="accent"
            ></expr-input>
            <mat-hint>Available parameters: {{ exprAutosize?.parameters }}</mat-hint>
            <mat-error>{{ exprAutosize.validationErrors?.join('  ') }}</mat-error>
        </mat-form-field>
    </div>
</div>
